body {
  font-family: 'helvetica', sans-serif;
  background: #111;
  color: #fff;
  margin: 0;
  line-height: 1.6;
  background-image: url('images/background.jpg');
  background-repeat: repeat;
  background-position: top;
  background-size: cover;
}

header {
  text-align: center; 
  padding: 1rem;
  background: #fff;
  border-bottom: 1px solid #fff;
}

section {
  margin: 2rem 0;
  border: 2px solid #fff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  margin: 0;
}

h2 {
text-align: center;
}

p {
  max-width: 750px;
  text-align: center;
}

h4 {
  text-align: center;
  color: #ccc;
}

.carousel {
  position: relative;
  width: 600px;
  height: 800px;
  overflow: hidden;
  border-radius: 10px;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.carousel img.active {
  display: block;
    opacity: 1;
}

.buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

button {
  background-color: rgba(0,0,0,0.5);
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgba(255,255,255,0.3);
}